$title-dark-color: #2b2b2b;
$primary-dark-text-color: #767676;
$highlight-text-color: #ffb400;

$accent-bg: #ff9200;
$highlight-color: #ffb400;
$primary-bg: #fff;

$icons: (
  telegram: "\ea95",
  github: "\eab0",
  linkedin: "\eac9",
);
