@use "../_variables.module.scss" as vars;

.certificates {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.certificates__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.certificates__item {
  flex-basis: calc(33.333% - 40px);

  padding: 4px;
  border-radius: 8px;
  box-shadow: rgba(49, 21, 4, 0.07) 7px 4px 14px;
  background-color: vars.$primary-bg;
  transition: 0.3s all ease-in-out;

  &:hover {
    box-shadow: 0 0 12px;
  }
}

.certificates__link {
  overflow: hidden;
}

.certificates__img {
  width: 100%;
  aspect-ratio: 7 / 6;
  object-fit: cover;
}
