@use "../_variables.module" as vars;

.portfolio {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.portfolio__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio__item {
  position: relative;
  flex-basis: calc(33.333% - 40px);
  padding: 8px;
  border-radius: 8px;
  box-shadow: rgba(49, 21, 4, 0.07) 7px 4px 14px;
  background-color: vars.$primary-bg;
  transition: 0.3s all ease-in-out;

  &:hover {
    box-shadow: 0 0 12px;
  }
}

.portfolio__img {
  margin-bottom: 10px;
  object-fit: cover;
  aspect-ratio: 3 / 4;
}

.card-title {
  color: vars.$title-dark-color;
}

.gh-link {
  position: absolute;
  bottom: 6px;
  right: 6px;
  font-size: 28px;
}
