@use "../_variables.module.scss" as vars;

.main-container {
  padding-bottom: 72px;
}

.section + .section {
  margin-top: 72px;
}

.section__title {
  margin-bottom: 24px;
  font-size: 32px;
  color: vars.$title-dark-color;
}

.section__text {
  max-width: 560px;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 1.24;
  letter-spacing: 0.16px;
}
